
* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}


header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

@font-face {
    font-family:josefinslab-regular;
    src: url(../fonts/josefinslab-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:monstserrat-regular; 
    src: url(../fonts/montserrat-regular.ttf);
    font-style:normal;
    font-weight:normal;
}



html {
    font-family: monstserrat-regular, sans-serif;
    src: url(../fonts/montserrat-regular.ttf);
}

h1 { 
    text-align:center; 
    font-size: 3.75rem;
    font-family:josefinslab-regular, sans-serif;
    src: url(../fonts/josefinslab-regular.ttf);
    line-height: 3.85rem;
    letter-spacing: 0.125rem;
    margin: 1.125rem   
}

h2 { 
    font-size: 1.5rem;
    font-family:josefinslab-regular, sans-serif;
    src: url(../fonts/josefinslab-regular.ttf);
}

h2 + p {
    text-indent: 1.5rem;
}

p {
    font-size: 0.75rem;
    text-align: left;
    line-height: 1rem;
    letter-spacing: 0.031rem;
    word-spacing: 0.125rem;
}

li {
    font-size: 0.75rem;
    letter-spacing: 0.031rem;
    word-spacing: 0.125rem;
}

figcaption {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

a {
    outline:none;
}

a:link {
    color:#33658A;
    
}

a:visited { 
    color:blueviolet; 
}

a:focus {
    outline: none;
}

a:hover {
    outline: none; 
}

 ul {
     font-size: .75rem;
 text-align: left;
 line-height: 1rem;
 letter-spacing: 0.125rem;
 word-spacing: 0.031rem;
 margin-top: 1rem;
 margin-bottom: 1rem;
 margin-right: 0rem;
 list-style-type: square;
 }

 ol {
    font-size: 0.75rem;
    text-align: left;
    line-height: 1rem;
    letter-spacing: 0.125rem;
    word-spacing: .031rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    list-style-type: lower-alpha;
 }

 .longlist a:hover {
      text-transform: uppercase;
    
}

nav{  padding-left: 0.25rem;
    margin-top: 0.25rem;
    outline: none;
   
}

nav a { 
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    border: .06rem solid #33658A; 
    text-decoration-line: none;
}
nav a:focus, nav a:hover {
    outline: none;
    text-decoration-line: none;

}

nav a:active {
    color:#fff;
    background-color: black;
}

footer {
    text-align: center;
}
